psycopg2-binary
gunicorn
python-decouple
django
djmail
cryptography
django-jinja
easy-thumbnails
raven
djangorestframework
markdown
django-filter
Unidecode
premailer
iso4217
pytz
pycountry
django-extensions
psd-tools
django-pglocks
drf-link-header-pagination
django-redis 
channels 
channels-redis
python-dateutil
celery
bleach==3.3.0
django-timezone-field
paramiko
django-cors-headers
forex-python
jsonschema
pandas
matplotlib
MetaTrader5